
.product {
	position: relative;
	padding-bottom: 60px;
}

.product .product_item {
	position: relative;
	height: 390px;
	border: 1px solid #f3f2f2;
	padding: 0;
	margin-right: -1px;
}

.product .product_item:hover {
	cursor: pointer;
}

.product .product_item:hover .product_item_bay .product_button_bay {
	background-color: #22c4c2;
	color: #fff;
}


/* NORM ITEM PRODUCT */
.product .product_item .product_item_title {
	position: relative;
	width: 100%;
	height: 70px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

.product .product_item .product_item_title p {
	margin: 0;
	padding-top: 35px;
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #999;
}

.product .product_item .product_item_img {
	position: relative;
	width: 100%;
	height: 125px;
	margin-top: 62px;
}

.product .product_item .product_item_img img {
	display: block;
	margin: 0 auto;
}

.product .product_item .product_item_bay {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
}

.product .product_item .product_item_bay .product_button_bay {
	width: 100%;
	height: 100%;
	border: none;
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	color: #22c4c2;
	background-color: #fff;
	background-image: url("../img/bay_bg.png");
	background-repeat: no-repeat;
	background-position: center right;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}

.product .product_item .product_item_bay .product_button_bay:focus {
	outline: none;
}

/* SALE ITEM PRODUCT */
.product .product_item .product_item_sale_title {
	position: relative;
	width: 100%;
	height: 70px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	background-image: url("../img/sale_bg.png");
	background-repeat: no-repeat;
	background-position: center left;
}

.product .product_item .product_item_sale_title p {
	margin: 0;
	padding-top: 35px;
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #999;
	line-height: 1.3;
}

.product .product_item .product_item_bay .product_button_sale_bay {
	width: 100%;
	height: 100%;
	border: none;
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	color: #22c4c2;
	background-color: #fff;
	background-image: url("../img/bay_bg.png");
	background-repeat: no-repeat;
	background-position: center right;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
	line-height: 1.3;
}

.product .product_item .product_item_bay .product_button_sale_bay span {
	font-size: 14px;
}

.product .product_item:hover .product_item_bay .product_button_sale_bay {
	background-color: #22c4c2;
	color: #fff;
}

.product .product_item .product_item_bay .product_button_sale_bay:focus {
	outline: none;
}