.repair_content {
	position: relative;
	padding: 20px 0px;
}

.repair_content h1 {
	margin: 0;
	font-family: "HelveticaNeueCyr-Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	color: #22c4c2;
}

.repair_content p {
	margin: 0;
	margin-top: 30px;
	font-family: "HelveticaNeueCyr-Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
	color: #999;
}

.repair_button {
	position: relative;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 60px;
}

.repair_button button {
	margin: 0 auto;
	width: 220px;
	height: 60px;
	background: #25bebe;
	border: 1px solid #25bebe;
	font-family: "HelveticaNeueCyr-Medium";
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}

.repair_button button:hover {
	color: #25bebe;
	background: #fff;
}