
.slider {
	position: relative;
	width: 100%;
	height: 660px;
}

.slider .slider_item {
	position: relative;
	width: 100%;
	height: 660px;
}

.slider .slider_item_content {
	position: relative;
	text-align: center;
	z-index: 100;
	margin-top: -120px;
}

.slider .slider_item_content .button_slider {
	width: 220px;
	height: 60px;
	background: #fff;
	border: 1px solid #fff;
	margin-left: 14px;
	font-family: "HelveticaNeueCyr-Medium";
	font-size: 16px;
	text-transform: uppercase;
	color: #25bebe;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.slider .slider_item_content .button_slider:hover {
	background: #25bebe;
	color: #fff;
	border: 1px solid #25bebe;
}
.slider .slider_item_content .button_slider:focus {
	outline: none;
}




.slider .owl-carousel .owl-item img {
	width: 100%;
	height: 660px;
}


.slider .owl-nav .owl-next {
	width: 25px;
	height: 40px;
	background-image: url("../img/arrow_right.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	right: 10%;
	opacity: .6;
	cursor: pointer;
}

.slider .owl-nav .owl-prev {
	width: 25px;
	height: 40px;
	background-image: url("../img/arrow_left.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 10%;
	opacity: .6;
	cursor: pointer;
}